<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Positive Tests</th>
            <th scope="col">Negative Tests</th>
            <th scope="col">Currently Hospitalized</th>
            <th scope="col">Currently on Ventilator</th>
            <th scope="col">Recovered</th>
            <th scope="col">Deaths</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{positive}}</td>
            <td>{{negative}}</td>
            <td>{{hospitalizedCurrently}}</td>
            <td>{{onVentilatorCurrently}}</td>
            <td>{{recovered}}</td>
            <td>{{death}}</td>
        </tr>
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{positive}}</td>
            <td>{{negative}}</td>
            <td>{{hospitalizedCurrently}}</td>
            <td>{{onVentilatorCurrently}}</td>
            <td>{{recovered}}</td>
            <td>{{death}}</td>
        </tr>
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{positive}}</td>
            <td>{{negative}}</td>
            <td>{{hospitalizedCurrently}}</td>
            <td>{{onVentilatorCurrently}}</td>
            <td>{{recovered}}</td>
            <td>{{death}}</td>
        </tr>
    </tbody>
</table>