<center>
  <h1><i>Resources </i></h1>
</center>
<div class="container-fluid">
  <form class="form-inline">
    <input id = "billSearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div id="searchResults">
    <div class="result"></div>
</div>

<div id="chosenResults"></div>
<br>
<div class="container">
  <form>
      <div class="form-group">
        <label for="exampleInputState">Data by State</label>
        <select class="form-control">
          <option>AL</option>
          <option>AK</option>
          <option>AZ</option>
          <option>AR</option>
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>FL</option>
          <option>GA</option>
          <option>HI</option>
          <option>ID</option>
          <option>IL</option>
          <option>IN</option>
          <option>IA</option>
          <option>KS</option>
          <option>KY</option>
          <option>LA</option>
          <option>ME</option>
          <option>MD</option>
          <option>MA</option>
          <option>MI</option>
          <option>MN</option>
          <option>MS</option>
          <option>MO</option>
          <option>MT</option>
          <option>NE</option>
          <option>NV</option>
          <option>NH</option>
          <option>NJ</option>
          <option>NM</option>
          <option>NY</option>
          <option>NC</option>
          <option>ND</option>
          <option>OH</option>
          <option>OK</option>
          <option>OR</option>
          <option>PA</option>
          <option>RI</option>
          <option>SC</option>
          <option>SD</option>
          <option>TN</option>
          <option>TX</option>
          <option>UT</option>
          <option>VT</option>
          <option>VA</option>
          <option>WA</option>
          <option>WV</option>
          <option>WI</option>
          <option>WY</option>
        </select>
      </div>
    </form>
    <hr>
    {{!-- {{main/data-block}} --}}
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Positive Tests</th>
            <th scope="col">Negative Tests</th>
            <th scope="col">Currently Hospitalized</th>
            <th scope="col">Currently on Ventilator</th>
            <th scope="col">Recovered</th>
            <th scope="col">Deaths</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{positive}}</td>
            <td>{{negative}}</td>
            <td>{{hospitalizedCurrently}}</td>
            <td>{{onVentilatorCurrently}}</td>
            <td>{{recovered}}</td>
            <td>{{death}}</td>
        </tr>
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{positive}}</td>
            <td>{{negative}}</td>
            <td>{{hospitalizedCurrently}}</td>
            <td>{{onVentilatorCurrently}}</td>
            <td>{{recovered}}</td>
            <td>{{death}}</td>
        </tr>
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{positive}}</td>
            <td>{{negative}}</td>
            <td>{{hospitalizedCurrently}}</td>
            <td>{{onVentilatorCurrently}}</td>
            <td>{{recovered}}</td>
            <td>{{death}}</td>
        </tr>
    </tbody>
</table>
</div>








<script type="text/javascript" src="/js/user.js"></script>
<script type= "text/javascript" src = "/js/api.js"></script>